node_modules

# Used for Transcription tests
example.mp3
tmp

# Environments variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?